h1::before { content: '# '; }
h2::before { content: '## '; }
h3::before { content: '### '; }
h4::before { content: '#### '; }
h5::before { content: '##### '; }
h6::before { content: '###### '; }

strong::before,
strong::after {
    content: '**';
}

em::before,
em::after {
    content: '*';
}

a::before {
    content: '[';
}
a::after {
    content: '](' attr(href) ')';
}

pre::before,
pre::after {
    display: block;
    content: '```';
}

pre[data-syntax]::before {
    content: '```' attr(data-syntax);
}

code::before,
code::after {
    content: '`';
}

pre > code::before,
pre > code::after {
    content: '';
}

ul > li {
    list-style: none;
}
ul > li::before {
    content: '* ';
}

s {
    text-decoration: none;
}
s::before,
s::after {
    content: '~~';
}

hr {
    border: none;
}
hr::before {
    content: '* * *';
}