h1::before { content: '# '; }
h2::before { content: '## '; }
h3::before { content: '### '; }
h4::before { content: '#### '; }
h5::before { content: '##### '; }
h6::before { content: '###### '; }

strong {
    &::before, &::after { content: '**'; }
}

em {
    &::before, &::after { content: '*'; }
}

a {
    &::before { content: '['; }
    &::after { content: '](' attr(href) ')'; }
}

pre {
    &::before, &::after { display: block; content: '````'; }
}

code {
    &::before, &::after { content: '`'; }
}

ul > li {
    list-style: none;
    &::before { content: '* '; }
}
